body {
    background: lightslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

h1 {
    text-decoration: underline;
    color: white;
    text-shadow: -2px 2px 0 black;

}

